{% extends "layouts/master.twig" %}

{% block assets %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
{% endblock %}

{% block content %}
        
<div class="browsing">
    <input type="checkbox" id="navigation" />
    <label for="navigation">+</label>
    <div class="browsing__languages">
        <img src='/images/lang/js.png' data-lang="js">
        <img src='/images/lang/php.png' data-lang="php">
    </div>
    <div class="browsing__exercises">
        <div class="popular">
            <h2 class="title"><i class="fa fa-star" aria-hidden="true"></i> Les plus populaires</h2>
            <div class="popular__list">
                {% for popular in popularExos %}
                    <div class="exercise-container" id="{{popular._id}}">
                        <a href="/exercises/{{popular.language}}/{{popular.slug}}" class="exercise {{popular.language}}">
                            <h4>{{popular.title}}</h4>
                            <p>{{popular.author}}</p>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <h2 class="title">Tous les exercices :</h2>
        {% include "partials/browser.twig" with tags %}
    </div>
</div>

{% endblock %}

{% block scripts %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src='/js/browsing_handler.js'></script>
{% endblock %}