{% extends "layouts/master.twig" %}

{% block assets %}

    <link rel="stylesheet" href="/js/codemirror/lib/codemirror.css" type="text/css">
    <link rel="stylesheet" href="/js/codemirror/addon/hint/show-hint.css" type="text/css">
    <link rel="stylesheet" href="/js/codemirror/theme/ambiance.css" type="text/css">
    <link rel="stylesheet" href="/js/codemirror/addon/lint/lint.css" type="text/css">
    <script src="/js/codemirror/lib/codemirror.js"></script>

{% endblock %}

{% block content %}

{% include './partials/popup_correction.twig' %}

<div class="exercise__opened">
    <form class="exercise__opened__top" method='post'>
        <div class="exercise__opened__top__subject">
            <div>
                <h1>{{ exercise.title }}</h1>
                <p>{{ exercise.stats.success }}</p>
            </div>
            <div class="description">
                {{ markdown }}
            </div>
            <div class="waitings">
                {% for title in exercise.awaited.titles %}
                    <div class="waiting {{ title in results ? 'success' : 'error' }}">
                        {% if title in results %}
                            <i class="far fa-check-circle"></i>
                        {% else %}
                            <i class="far fa-times-circle"></i>
                        {% endif %}
                        {{title}}
                    </div>
                {% endfor %}
            </div>
        </div>
        {% if skeletonText %} <textarea name="function" id="js-textarea" cols="30" rows="10">{{skeletonText}}</textarea>
        {% else %}<textarea name="function" id="js-textarea" cols="30" rows="10">{{content.fct}}</textarea>
        {% endif %}
        </div>
        <div class="exercise__opened__bottom">
            {% if user.type == "admin" %}
                <button class="button button--red button--delete" type="button" data-exercise-id="{{exercise._id}}">Supprimer l'exercice</button>
                <button class="button button--green button--modify" type="button">Modifier l'exercice</button>
            {% endif %}
            <div id="openCorrection" class="button button--green">Afficher la correction</div>
            
            
            
            {% if setParams.success %}
                {% if setParams.next %}
                    <a href="../{{ setParams.next.language }}/{{ setParams.next.slug }}" class="button button--green">Exercice suivant</a>
                {% else %}
                    <a href="/sets/{{ setslug }}" class="button button--green">Terminer série</a>
                {% endif %}
            {% else %}
                <button type='submit' class="button button--green">Valider le code</button>
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}  

{% block scripts %}

    <script src="/js/codemirror/mode/javascript/javascript.js"></script>
    <script src="/js/codemirror/addon/lint/lint.js"></script>
    <script src="/js/codemirror/addon/lint/javascript-lint.js"></script>
    <script src="/js/codemirror/addon/hint/show-hint.js"></script>
    <script src="https://unpkg.com/jshint@2.9.6/dist/jshint.js"></script>
    <script>
        let editor = CodeMirror.fromTextArea(document.getElementById('js-textarea'), {
            value: "",
            lineNumbers: true,
            indentWithTabs: true,
            mode: "javascript",
            theme: 'ambiance',
            extraKeys: {"Ctrl-Space": "autocomplete"},
            gutters: ["CodeMirror-lint-markers"],
            lint: { esversion: 6 }
        });
    </script>
    <script src="/js/correction_popup.js"></script>
    <script src="/js/admin_handlers.js"></script>

{% endblock %}