{% extends "layouts/master.twig" %}

{% block content %}
<div class="profile">
    <div class="profile__head">
        <div class="image">
            <img class="logoAccount" src={{user.urlImage}}>
        </div>
        <div class="infos">
            <div class="infos__user">
                <div class="infos__user__id">
                {% if user.profile.username %}                
                    <p>{{user.profile.username}}</p>
                {% else %}
                    <p>{{ user.profile.last_name }}</p>
                    <p>{{ user.profile.first_name }}</p>
                {% endif %}
                </div>

                {% if user.profile.email %}
                    <p class="email">{{ user.profile.email }}</p>
                {% endif %}
                <p class="exos">Exercices {{ user.type == "student" ? "résolues" : "créés" }} : {{count}}</p>                        
            </div>
        </div>
    </div>

    <div class="profile__series">
        <h2 class="title">Mes séries en cours</h2>

        <div class="series">
            <a href='#' class="serie">
                <p class="title--small">Nom de la série</p>
                <p class="subtitle">auteur</p>
                <div class="button_layout button_layout--center">
                    <div class="button button--green">Reprendre</div>
                </div>
            </a>

            <a href='#' class="serie">
                <p class="title--small">Nom de la série</p>
                <p class="subtitle">auteur</p>
                <div class="button_layout button_layout--center">
                    <div class="button button--green">Reprendre</div>
                </div>
            </a>

            <a href='#' class="serie">
                <p class="title--small">Nom de la série</p>
                <p class="subtitle">auteur</p>
                <div class="button_layout button_layout--center">
                    <div class="button button--green">Reprendre</div>
                </div>
            </a>
        </div>
    </div>


</div>
{% endblock %}