{% extends "layouts/master.twig" %}

{% block content %}
<div class="profile">
    <div class="profile__head">
        <div class="image">
            <img class="imgAccount" src="{{user.urlImage}}">
        </div>
        <div class="infos__user">
            <div class="infos__user__id">
            {% if user.profile.username %}                
                <h3>{{ user.profile.username }}</h3>
            {% else %}
                <h3>{{ user.profile.last_name }}</h3>
                <h3>{{ user.profile.first_name }}</h3>
            {% endif %}
            </div>

            {% if user.profile.email %}
                <p class="email">{{ user.profile.email }}</p>
            {% endif %}
            {% if user.account == "local" %}    
                <a href="/profile/settings"><i class="fas fa-cog"></i> Paramètres</a>
            {% endif %}
            <div class="user_score">
                <h3>Mon avancée :</h3>
                <div class="score-total">
                    <span><i class="fas fa-award"></i> {{user.score.total}}</span>
                </div>
                <div class="score-langs">
                    {% for lang, score in user.score.langs %}
                        <span class="score-{{lang}}"><i class="fas fa-medal"></i> {{score}}</span>           
                    {% endfor %}
                </div>
            </div>
            <p class="">Exercices {{ user.type == "student" ? "réalisés" : "créés" }} : {{exos.length}}</p> 
            <p class="">Séries d'exercises {{ user.type == "student" ? "réalisées" : "créées" }} : {{series.length}}</p>                        
        </div>
    </div>
    {% if user.type == "teacher" or user.type == "admin" %}
        <div class="profile__actions">
            <a href="profile/create-exercise" class="button button--blue" type="submit">Créer un exercice</a>
            <a href="profile/create-exercises-set" class="button button--blue" type="submit">Créer une série d'exercices</a>
        </div>
    {% endif %}
    <div class="profile__data">
        <div class="data-container">
            <h2 class="title">Mes exercices {{ user.type == "student" ? "réalisés" : "créés" }}</h2>
            <div class="profile__exercises">
                {% if exos|length == 0 %}
                    <h2>Aucun exercice {{ user.type == "student" ? "réalisé" : "créé" }}.</h2>
                {% endif %}
                {% for exo in exos %}
                    <div class="exercise-container" id="{{ exo._id }}">
                        <a href="/exercises/{{exo.language}}/{{exo.slug}}" class="exercise {{exo.language}}">
                            <h4>{{exo.title}}</h4>
                            <p>{{exo.author}}</p>
                            <p>{{exo.description}}</p>                    
                        </a>
                        {% if user.type == "teacher" or user.type == "admin" %}
                            <button class="link-delete" type="button"><i class="fas fa-trash-alt"></i></button>                     
                            <button class="link-stats openExerciseStats" type="button"><i class="fa fa-info-circle"></i></button>
                            <a href="/profile/update-exercise/{{exo.language}}/{{exo.slug}}" class="link-modify"><i class="fas fa-cog"></i></a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="data-container">
            <h2 class="title">Mes séries d'exercices {{ user.type == "student" ? "réalisées" : "créées" }}</h2>
            <div class="profile__series">
                {% if series|length == 0 %}
                    <h2>Aucune série {{ user.type == "student" ? "réalisée" : "créée" }}.</h2>
                {% endif %}
                {% for serie in series %}
                    <a href="/sets/{{serie.slug}}" class="serie">
                        <h4>{{serie.title}}</h4>
                        <p>{{serie.author}}</p>
                        <p>{{serie.description}}</p>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div id="popupExerciseStats" class="stats">
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="js/delete_exercise_handler.js"></script>
<script src="js/exercise_stats_popup.js"></script>
{% endblock %}