{% extends "layouts/master.twig" %}

{% block content %}
<div class="updateExo">
    {{message}}
    <h1 class="title">Update</h1>
    <form method='POST' class='updateExo__form' enctype="multipart/form-data">
        <div class="form-group">
            <label for="title">Titre</label>
            <input type='text' name='title' id="title" value="{{exercise.title}}">
        </div>

        <div class="form-group">
            <label for="language">Langage</label>
            <input type='text' name='language' id="language" value="{{exercise.language}}" disabled>
        </div>

        <div class="form-group">
            <label for="file">Fichier de test</label>
            <input type='file' id="label" name='file_tests'>
        </div>

        <div class="form-group">
            <label for="file">Correction de l'exercice (Optionnel)</label>
            <input type='file' id="label" name='file_corrections'>
        </div>

        <div class="form-group">
            <label for="file">Squelette de l'exercice (Optionnel)</label>
            <input type='file' id="label" name='file_skeletons'>
        </div>

        <div class="form-group">
            <label>Tags de l'exercices</label>
            <input type='hidden' name='tags' value='{{tagsValue}}'>
            <div class="searchbar">
                <div class="autocomplete">
                    <div class="autocomplete-tags"></div>
                    <select class="createTag" multiple="multiple">
                        {% for tag in exercise.tags %}
                            <option value="{{tag}}" selected>{{tag}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>Description de l'exercices</label>
            <textarea name="description">{{exercise.description}}</textarea>
        </div>

        <div class="button_layout button_layout--right">
            <button class="button button--green" type="submit">Modifier l'exercice</button>
        </div>
    </form>

</div>
{% endblock %}

{% block scripts %}
<script src='/js/create_tag.js'></script>
{% endblock %}