<nav class="nav">
    <a href="/" class="nav__logo"><img src='/images/logo.png'></a>
    <div class="nav__middle">
        <ul class="nav__middle__list">
            <li><a href="/"{{ menu == 'accueil' ? ' class="active"' }}>Accueil</a></li>
            <li><a href="/exercises"{{ menu == 'exercises' ?  'class="active"' }}>Exercices</a></li>
            <!--<li><a href="/profile">Séries en cours</a></li>-->
            {% if user %}
                {% if user.type == 'teacher' or user.type == 'admin' %}
                    <li><a href="/profile/create-exercise">Créer un exercice</a></li>
                    {% if user.type == 'admin' %}
                        <li><a href="/admin/">Gérer le site</a></li>
                    {% endif %}
                {% endif %}
                <li><a href="/logout">Déconnexion <i class="fa fa-sign-out"></i></a></li>
            {% endif %}
        </ul>
    </div>
    
    <div class="nav__right">
        {% if user == null %}
            <a href="/login" class="nav__right__item {{ menu == 'login' ?  'active' }}">Connexion</a>
            <a href="/register" class="nav__right__item {{ menu == 'register' ?  'active' }}">Inscription</a>
        {% else %}
            <a href="/profile" class="nav__right__connected {{ menu == 'profile' ? 'activ' }}">
                {% if user.profile.username %}                
                    <p>{{user.profile.username}}</p>
                {% else %}
                    <p>{{user.profile.last_name}}</p>
                    <p>{{user.profile.first_name}}</p>
                {% endif %}
                <img src="{{user.urlImage}}">
            </a>
        {% endif %}
    </div>
</nav>