<nav class="nav">
    <a href="/" class="nav__logo"><img src='/images/logo.png'></a>
    <div class="nav__middle">
        <ul class="nav__middle__list">
            <li><a href="/" class="{{ menu == 'accueil' ? 'active' }}">Accueil</a></li>
            <li><a href="/exercises" class="{{ menu == 'exercises' ? 'active' }}">Les exercices</a></li>
            <li><a href="/profile">Series en cours</a></li>

            {% if user %}
                <li><a href="/logout">Deconnexion</a></li>   
            {% endif %}
            
        </ul>
    </div>
    
    <div class="nav__right">
        {% if user == null %}
            <a href="/login" class="{{ menu == 'login' ? 'active' }}">Se connecter</a>
        {% else %}
            <a href="/profile" class="nav__right__connected {{ menu == 'profile' ? 'activ' }}">
                {% if user.profile.username %}                
                    <p>{{user.profile.username}}</p>
                {% else %}
                    <p>{{user.profile.last_name}}</p>
                    <p>{{user.profile.first_name}}</p>
                {% endif %}
                    <img class="logoAccount" src={{user.urlImage}}>
            </a>
        {% endif %}
    </div>
</nav>